@basic-size: 200px;
@margin: 10px;

body {
	margin:0;
  	padding:0;
  	background: url("/static/images/milkshake-transparent-centered.svg") no-repeat center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

#main-container {
    float: left;
    width: 100%;
    padding: 10px 10px;
}
html, body, .container-fluid, #main-container {
    height: 100%;
}
.placeholder-content {
    width: 100%;
    height: 100%;
    background-color: #FDD;
    display: table;
    width: 100%;
    background-image: url('/static/images/milkshake.svg');
    background-size: cover;
}
.placeholder-content > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
}
.container-fluid {
    padding: 0;
}

.item {
    width: @basic-size;
    height: @basic-size;
    border: 1px #000000 solid;
}
.item.big-width { width: 2*@basic-size + @margin; }
.item.big-height { height: 2*@basic-size + @margin; }

// CSS du widget DDL Link

.plugin-content {
    margin: 5px 5px;

    .plugin-header:hover {
        cursor: move;
    }
    .plugin-title {
        float: left;
    }

    .plugin-access {
        margin-top: 5px;
        float: right;
        background-color: rgba(92, 184, 92, 0.5);
    }

    #ddl-submit {
      text-align: right;
      margin-top: 30px;
    }
}

.clear {
  clear: both;
}