<!DOCTYPE html> {% load staticfiles %} {% load compress %} {% load i18n %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% trans "MilkShake - Home" %}</title>

    {% compress js %}
    {# jQuery #}
    <script type="text/javascript" src="{% static "js/libs/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery/jquery.cookie.js" %}"></script>
    {# backbone #}
    <script type="text/javascript" src="{% static "js/libs/backbone/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/backbone/backbone.js" %}"></script>
    {# Masonry #}
    <script type="text/javascript" src="{% static "js/libs/masonry/packery.pkgd.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/masonry/draggabilly.pkgd.js" %}"></script>

    {% endcompress %}

    {% compress css %}
    {# Bootstrap #}
    <link rel="stylesheet" type="text/less" href="{% static "less/libs/bootstrap/bootstrap.less" %}"/>
    {# Sidebar #}
    <link rel="stylesheet" type="text/less" href="{% static "less/sidebar.less" %}"/>
    {# Page #}
    <link rel="stylesheet" type="text/less" href="{% static 'less/core/home.less' %}" />
    {% endcompress %}
</head>
<body>
    <div class="container-fluid">
        <div id="container" class="main-container packery draggable">
            <div class="item">
                <div class="plugin-content">
                    <div class="plugin-header handle">
                        <h4 class="plugin-title">{% trans "DDL" %}</h4>
                        <button class="plugin-access btn btn-xs btn-success">{% trans "Access" %}</button>
                        <hr class="clear"/>
                    </div>
                    <div class="plugin-body">
                        <form class="form"  method="post" action="/">
                            {% csrf_token %}
                            <div id="ddl-form" class="form-group">
                                <label for="ddl-link">{% trans "DDL link" %}</label>
                                <input type="text" name="ddl-link" class="form-control input-xs center" />
                            </div>
                            <div id="ddl-submit">
                                <input type="submit" class="btn btn-success" value="{% trans "Submit" %}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item big-width">...</div>
            <div class="item">...</div>
            <div class="item big-width">...</div>
            <div class="item big-width">...</div>
            <div class="item">...</div>
            <div class="item big-width big-height">...</div>
            <div class="item big-height">...</div>

        </div>
        <div id="milkshake-sidebar" style="display: none;">
            <div class="sidebar-content">
                <div class="sidebar-pinner-container">
                    <button type="button" class="btn btn-sm glyphicon glyphicon-pushpin sidebar-pinner" data-toggle="button"></button>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header disabled">
                        <a href="#">MilkShake</a>
                    </li>
                    <li class="active">
                        <a href="#">{% trans "Home" %}</a>
                        <!--
                        <ul class="nav nav-pills nav-stacked nav-sub">
                            <li><a href="#">Sous-menu 1</a></li>
                            <li><a href="#">Sous-menu 2</a></li>
                        </ul>
                        -->
                    </li>
                    <li>
                        <a href="/logout">{% trans "Logout" %}</a>
                    </li>
                    <li class="nav-header disabled"><a href="#">Plugins</a></li>
                </ul>
            </div>
            <input type="search" class="form-control sidebar-search" placeholder="{% trans "Search..." %}" />
        </div>
        <div id="milkshake-sidebar-circle"></div>
    </div>

    {% compress js %}
    {# Script de la page #}
    <script type="text/javascript" src="{% static 'js/core/home.js' %}"></script>
    {# Sidebar #}
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    {% endcompress %}
</body>
</html>